* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center; /* ALINHA NO EIXO HORIZONTAL */
    align-items: center;/* ALINHA O EIXO VERTICAL */
    background-image: url("https://images.unsplash.com/photo-1501884428012-aa321a256730?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTY4MTc3NjMxMw&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600");
}

.caixa-maior {
    background-color: rgb(61, 59, 59);
    opacity: 0.5;
    border-radius: 25px;
    padding: 20px;
}

.input-cidade {
    border: none;
    outline: none;/* RETIRA A LINHA EM VOLTA DA BORDA */
    padding: 10px; /* ESPAÇAMENTO MAIOR DENTRO */ 
    border-radius: 25px; /* ARREDONDA AS BORDAS */
    font-size: 20px; /* LETRAS FICAREM MAIOR */
    background-color: rgb(30, 28, 28);
    color: white;
    width: calc(100% - 70px);
}

.botao-busca {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;/* TRANSFORMA A SETA DO MOUSE EM UMA MÃOZINHA */
    float: right; /* EMPURRAA O BOTÃO DE PESQUISA PARA A DIREITA */
    background-color: rgb(30, 28, 28);
}
.img-busca {
    width: 20px;
   
}

.caixa-media {
    margin-top: 30px;
}

.cidade {
    color: white;
    font-size: 28px;/*AUMENTA O TAMANHO DA LETRA */
    font-weight: 500;/* DEIXA A LETRA MAIS FINA */

}

.temp {
    font-size: 25px;
    color: white;
   margin-top: 20px;
}

.caixa-menor {
   display: flex;
   align-items: center;
   color: white;
   margin-top: 20px;
}

.texto-previsao {
    color: white;
    margin-left: 20px;
    text-transform: capitalize;
}

.umidade {
    font-size: 25px;
    color: white;
    margin-top: 20px;
    font-weight: 500;
}

